/* * {
  margin: 0;
  padding: 0;
}

h1 {
  border-top: dashed black 2px;
  border-bottom: dashed black 2px;
  color: antiquewhite;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}
nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
ul {
  display: flex;
  gap: 15%;
  margin-right: 40px;
}
li {
  list-style: none;
}
a {
  font-size: large;
  text-decoration: none;
}

.logos {
  height: 3rem;
} */
