@import "tailwindcss";
/* #root {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
} */
body {
  background-color: darkgray;
}
.active {
  background-color: rgba(229, 239, 45, 0.574);
  color: purple;
  font-weight: bold;
}

/* @theme {
  --color-test-color: rgba(229, 239, 45, 0.574);
} */
